#storyLog {
    text-align: start;
}

.logEntry {
    margin-bottom: 1rem;
}

.logAuthor {
    margin-bottom: 0.5rem;
    color: var(--heading-colour);
    text-align: center;
    font-family: "Dancing Script", cursive;
}

.logContent {
    color: var(--logEntry-colour);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
  
#wizardThink {
    height: 4rem;
    width: 4rem;
    object-fit: contain;
    animation: spin 2s ease-in-out infinite;
}