#storyLog {
    text-align: start;
}

.logEntry {
    margin-bottom: 1rem;
}

.logAuthor {
    margin-bottom: 0.5rem;
    color: var(--heading-colour);
    text-align: center;
    font-family: "Dancing Script", cursive;
}

.logContent {
    color: var(--logEntry-colour);
}