.App {
  text-align: center;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.box {
  width: 90%;
  height: 85vh;
  background-color: pink;
  display: inline-flex;
  flex-direction: column;
  overflow:scroll;
}